{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semiColons": false,
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "semi": false,
  "singleQuote": true,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
